.license-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.license-box .license-img {
    line-height: 1 !important;
}

.license-box .license-img img {
    display: block;
}

.license-box .license-text {
    margin: 0 0 0 10px;
}